<head>

</head>

<body>
testing the firebase connection:

<div id="sensor1"></div>

<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAdK51GKgUwaVvgvSn_8srsWG4byioNeT8",
        authDomain: "warehouse-247d7.firebaseapp.com",
        databaseURL: "https://warehouse-247d7.firebaseio.com",
        projectId: "warehouse-247d7",
        storageBucket: "warehouse-247d7.appspot.com",
        messagingSenderId: "725276381572"
    };
    firebase.initializeApp(config);

    var sensorRef = firebase.database().ref('sensor');
    var sensorOne = sensorRef.child('1');
    var s1 = document.getElementById(sensor1);


    sensorOne.once("value")
        .then(function(snapshot) {
            var name = snapshot.child("temp").val();
            console.log(name);
            //trying to figure out how to write to my div
            s1 = name;
            s1.innerHTML = name;
            s1.innerHTML = name;

        });

</script>


</body>