.col-sm-9.col-md-offset-2.main
  h1.page-header Dashboard
  .row
    .col.main
      h2 Items
      table.table.table-hover.table-striped
        thead
          tr
            th Sensor ID
            th Humidity
            th Temperature
            th Location
        tbody(ng-repeat='item in items')
          tr
            td {{item.name}}
            td {{item.minHumidity}}/{{item.maxHumidity}}
            td {{item.minTemperature}}/{{maxTemperature}}
            td X:{{item.xPosition}},Y:{{item.yPosition}}
      h2 Locations
      table.table.table-hover.table-striped
        thead
          tr
            th Shelf Position
            th Available
        tbody(ng-repeat='location in locations')
          tr
            td X:{{location.X}}/Y:{{location.Y}}
            td {{location.available}}