block header
block content
    doctype
    html
        head

            body
.col-sm-offset-2.col-sm-4
        h1: label: label-default Warehouse: Locations

        ol(ng-repeat="location in locations"): .sweLocPanel: .whiteText
            h2 {{location._id}}
            p Connected sensor: sensor{{location.sensorID}}
            p Location available: {{location.available}}
            p itemID: {{location.itemID}}
            p Position: {{location.nodeID}}

