<head>

</head>

<body>
testing the firebase connection:
<div id="sensors">
    <button id="sensorButton">show sensors</button>
    <p>
    <ol id="sensorlist">

    </ol>
    </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script>


    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAdK51GKgUwaVvgvSn_8srsWG4byioNeT8",
        authDomain: "warehouse-247d7.firebaseapp.com",
        databaseURL: "https://warehouse-247d7.firebaseio.com",
        projectId: "warehouse-247d7",
        storageBucket: "warehouse-247d7.appspot.com",
        messagingSenderId: "725276381572"
    };
    firebase.initializeApp(config);

    var sensorRef = firebase.database().ref('sensor');
    var sl = document.getElementById('sensorlist');



    // shows all sensors in our database
    sensorRef.on('child_added',function(snapshot) {

        var div = document.createElement("h1");
        var divTemp = document.createElement("h6");
        var divSunlight = document.createElement("h6");
        div.id = "sensor" + snapshot.key;
        div.innerHTML = "sensor " + snapshot.key;
        divTemp.id = "temp" + snapshot.key;
        divSunlight.id = "sunlight" + snapshot.key;

        divTemp.innerText = "Temperature: "+snapshot.val().temp + " degrees";
        if(snapshot.val().sunlight == 1){
            divSunlight.innerText = "Sunlight: Yes";
        }
        else{
            divSunlight.innerText = "Sunlight: No";
        }
        console.log(div);
        div.appendChild(divTemp);
        div.appendChild(divSunlight);
        sl.appendChild(div);
    });

    // shows real time changes made to the database
    sensorRef.on('child_changed',function(snapshot) {

        var divTemp = document.getElementById('temp' + snapshot.key);
        var divSunlight = document.getElementById('sunlight' + snapshot.key);

        divTemp.innerText = "Temperature: "+snapshot.val().temp + " degrees";
        divSunlight.innerText = snapshot.val().sunlight;
        if(snapshot.val().sunlight == 1){
            divSunlight.innerText = "Sunlight: Yes";
        }
        else{
            divSunlight.innerText = "Sunlight: No";
        }
    });





</script>
</body>